body{
    font-size: 11pt;
    background-color: rgb(29, 29, 29);
}

body,.nav,.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position:relative;
    background-color: #fff;
    padding: 15px;
    transition: 1.0s ease;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    width: 38%;
    font-size: 13pt;
}


.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.titulos{
    color: rgb(226, 226, 226);
    font-family: rock;
    font-size: 2em;
}

.seccion{
    background-color: rgb(17, 17, 17);
    padding: 10px;
    border-radius: 40px;
}
