body{
    font-size: 11pt;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
     min-height: 100vh;
}

.container {
      flex: 1;
 }

.footer {
    color: white;
    text-align: center;
    padding: 20px;
}

body,.nav,.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position:relative;
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1.0s ease;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    width: 38%;
    font-size: 12pt;
    font-family: 'Roboto';
}

li{
    transition: 0.5s ease;
}
li:hover {
    transform: scale(1.2);
}
.navMovil{
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.titulos{
    color: rgb(226, 226, 226);
    font-family: 'Lobster';
    font-size: 2.5em;
}

.seccion{
    background-color: rgb(17, 17, 17);
    padding: 10px;
    border-radius: 40px;
    padding-bottom: 25px;
}

.texto{ 
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 14pt;
    padding: 35px;
    border-radius: 30px;
    font-family: 'Roboto';
}
.subtitulos{
    font-family: 'Roboto';
    color: white;
    font-size: 2.3em;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* efecto reproducir */
 .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 2rem;
    color: rgb(240, 21, 21);
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 80px;
    padding: 10px;
    transition: 0.5s;
}

.image-container {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}
.image-container:hover .play-button {
    display: block;
}
.image-container img {
    transition: 0.8s ease;
}
.image-container img:hover {
    transform: scale(1.01);
   
}