body{
    font-size: 11pt;
    background-color: rgb(29, 29, 29);
    background-image: url(assets/images/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
      flex: 1;
 }

.footer {
    color: white;
    text-align: center;
    padding: 20px;
}

body,.nav,.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position:relative;
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1.0s ease;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 1px 3px 40px 15px black;
    width: 40%;
    font-size: 12pt;
    font-family: 'Roboto';
}

li{
    transition: 0.5s ease;
}
li:hover {
    transform: scale(1.2);
}
.navMovil{
    background-color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}


.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.titulos{
    color: rgb(226, 226, 226);
    font-family: 'Lobster';
    font-size: 2.5em;
}

.seccion{
    background-color: rgba(17, 17, 17, 0.527);
    padding: 10px;
    border-radius: 40px;
    padding-bottom: 25px;
}

.texto{ 
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 14pt;
    padding: 35px;
    border-radius: 30px;
    font-family: 'Roboto';
}
.subtitulos{
    font-family: 'Roboto';
    color: white;
    font-size: 2.3em;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* efecto reproducir */
 .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 2rem;
    color: rgb(240, 21, 21);
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 80px;
    padding: 10px;
    transition: 0.5s;
}

.image-container {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}
.image-container:hover .play-button {
    display: block;
}
.image-container img {
    transition: 0.8s ease;
}
.image-container img:hover {
    transform: scale(1.01);
   
}

.redes{
    text-decoration: none;
    color: inherit;
  
}

.red{
    font-size: 2rem;
}

.agrandar{
    transition-duration: 0.8s;
}

.agrandar:hover{
    transform: scale(1.1);
    transition: transform 0.8s;
}
/* para reproducir */
.card-hover:hover {
      cursor: pointer;
  }

.guitarrist{
    background-color: #333333;
    color: white;
    border-radius: 8px;
    font-family: 'Roboto';
}


.tituloGuitarrist{
    font-family: 'Lobster';
    font-size: 1.8em;
    text-shadow: 4px 7px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.agrandarPoco {
    transition-duration: 0.8s;
}

.agrandarPoco:hover {
    transform: scale(1.01);
    transition: transform 0.8s;
}

.botonGuitarrist{
    background-color: rgb(160, 9, 9);
    border: 1px solid rgba(199, 199, 199, 0.267);
    border-radius: 8px;
    color: white;
    font-family: 'Roboto';
    transition: 0.3s ease;
}

.botonGuitarrist:hover {
    transform: scale(1.1);
    background-color: black;
    transition: transform 0.3s, background-color 0.3s;
}

.modal-body{
    font-family: 'Roboto';
    font-size: 1.1em;
}

