:root {
    --brand-color: rgba(112, 11, 112, 0.877);
}
.cuerpo{
    background-color: rgb(29, 29, 29);
}

nav{
    border-bottom: 3px solid var(--brand-color);
}

.logo,.imag{
    transition: 0.4s ease;
}

.logo:hover{
    transform: scale(1.1);
}
.dev{
    font-family: monospace;
    color: white;
}
.nav-letra{
    color: black;
    transition: 0.5s;
    
    border-radius: 3px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-letra:hover,.letraSub{
    /* background-color: rgb(189, 186, 186); */
    border-bottom: 1.2px solid var(--brand-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    width: 15%;
    opacity: 0.8;

    transition: opacity 0.15s ease;
}
/* Para hacer más pequeño el carousel */
@media (min-width: 992px) {
    #ejemplo-carousel .carousel-inner img {
        max-height: 400px;
    }
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    opacity: 0.9;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}


.borde{
    border-top: 2px solid var(--brand-color);
    width: 100%;
    padding: 10px;
    margin-left: 4px;
    /* box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.226); */
}
.letraColor{
    /* border-bottom: 3px solid var(--brand-color); */
    color: var(--brand-color);
    font-family: monospace;
}
.content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 4px;
    box-shadow: 0 3px 3px 4px rgba(133, 5, 133, 0.24);
}

.imgContainer {
    /* border: 1px solid var(--brand-color);
    border-radius: 4px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.centrarAltura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.texto{
    font-size: 1.05em;
    font-weight: 400;
}

.escalarPoco{
    transition: 0.7s ease;
     
}
.boton{
    background-color: var(--brand-color);
    color: white;
   
}
.escalarPoco:hover,.imag:hover{
    transform: scale(1.03);
    background-color: rgb(231, 231, 231);
    color: var(--brand-color);
    border-radius: 8px;
    box-shadow: 0 3px 3px 4px rgba(0, 0, 0, 0.24);
}

.fondoForm{
        background-color: rgba(255, 255, 255, 0.055);
        width: 100%;
        margin-left: 7px;
        
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        border-radius: 4px;
        box-shadow: 0 3px 3px 4px rgba(133, 5, 133, 0.096);
}

footer{
    border-top: 1px solid var(--brand-color);
    background-color: rgb(20, 20, 20);
}

.modal-content {
    border:none;
    background: none;
 
}