:root {
    --brand-color: rgba(112, 11, 112, 0.877);
}
body{
    background-color: rgb(37, 37, 37);
}

nav{
    border-bottom: 3px solid var(--brand-color);
}

.logo{
    transition: 0.4s;
}

.logo:hover{
    transform: scale(1.2);
}
.dev{
    font-family: monospace;
}
.nav-letra{
    color: black;
    transition: 0.5s;
    
    border-radius: 3px;
    margin-left: 10px;
    font-weight: bold;
}

.nav-letra:hover,.letraSub{
    /* background-color: rgb(189, 186, 186); */
    border-bottom: 1.2px solid var(--brand-color);
}

.carousel-control-prev-icon,.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    width: 15%;
    opacity: 0.8;
    transition: opacity 0.15s ease;
}
/* Para hacer más pequeño el carousel */
@media (min-width: 992px) {
    #ejemplo-carousel .carousel-inner img {
        max-height: 400px;
    }
}
.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover {
    opacity: 0.9;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

section{
    color: white;
}

.borde{
    border-top: 2px solid var(--brand-color);
    width: 95%;
    padding: 10px;
}
.letraColor{
    /* border-bottom: 3px solid var(--brand-color); */
    color: var(--brand-color);
    font-family: monospace;
}
.content{
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 20px;
    color: black;
    border-radius: 4px;
}

.imgContainer {
    /* border: 1px solid var(--brand-color);
    border-radius: 4px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.texto{
    font-size: 1.2em;
    font-weight: 500;
}