body{
    font-family: "Exo 2",sans-serif;
    font-size: 12pt;
   
}
.cuerpo{
    background-image: url('images/niños.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    /* Filtro oscuro */
    background-blend-mode: darken;
    /* height: 100vh; */
}
nav{
    background-color:white;
    font-weight: 600;
    font-size: 1.1em;
}

footer{
    background-color: black;
    color: white; 
    padding: 10px ;
    width: 100%;
    height: 15vh;
}

.logoLetra{
    font-size: 0.8em;
    color: #9dbe15;
    border-bottom:1.5px solid #9dbe15;
    transition: 0.5s;
}
.logo,.nav-enlaces{
    transition: 0.5s;
}

#colorVerde{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #9dbe15;
    border-bottom:1.5px solid #9dbe15;
    
}

.centrarAltura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.letraNav{
    font-size: 1.2em;
}
.nav-enlaces{
    transition: 0.5s ease;
}

.efectoGrande:hover{
    transform: scale(1.05);
}

.nav-enlaces:hover{
    transform: scale(1.03);
    color: green;
    font-weight: bold;
   
}

.videoContainer{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    
}

video{
    border-radius: 4px;
    width: 80%;
    height: auto;
}

/* Para quitar efecto azul al abrir acordeón */
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #fff;
    box-shadow: none;
}

#acordeon {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #9dbe15;
    border-bottom: 1.5px solid #9dbe15;
    font-size: 0.7em;
    transition-duration: 0.7s ease;
}

#acordeon:hover{
    background-color: rgb(207, 207, 207);
    color: green;
    border-radius: 4px;
}