body{
    font-family: "Exo 2",sans-serif;
    font-size: 12pt;
    
}

nav{
    background-color:white;
    font-weight: 600;
    font-size: 1.05em;
}

.cuerpoIndex,.cuerpoEtapas{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    /* Filtro oscuro */
    background-blend-mode: darken;
    background-attachment: fixed;

}
.cuerpoIndex{
    background-image: url('images/vegamedia01.jpg');
}

.cuerpoEtapas{
    background-image: url('images/niños.jpg');
}
footer{
    background-color: black;
    color: white; 
    padding: 5px ;

}

footer i{
    font-size: 1.4em;
   
}

.logoLetra{
    font-size: 0.7em;
    color: #9dbe15;
    border-bottom:1.5px solid #9dbe15;
    transition: 0.5s;
}
.logo,.nav-enlaces{
    transition: 0.5s;
}

#colorVerde{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #9dbe15;
    border-bottom:1.5px solid #9dbe15;
    
}

.centrarAltura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.letraNav{
    font-size: 1.2em;
}
.nav-enlaces{
    transition: 0.5s ease;
}

.efectoGrande:hover{
    transform: scale(1.05);
}

.nav-enlaces:hover{
    transform: scale(1.03);
    color: green;
    font-weight: bold;
   
}

.infoContainer{
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    
}

.videoIndex{
    border-radius: 4px;
    width: 80%;
    height: auto;
}


#acordeon {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #657a0e;
    border-bottom: 1.5px solid #9dbe15;
    font-size: 0.7em;
    transition-duration: 0.7s ease;
}

#acordeon:hover{
    background-color: rgb(207, 207, 207);
    color: green;
    border-radius: 4px;
}

.card,.ciclos{
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
}
.ciclos{
    border-bottom: 1px solid #9dbe15;
}
.color2{
    color: #657a0e;
}
.bordes{
    border-radius: 4px;
}

.carousel-item img, .carousel-item video {
    max-height: 600px;
    object-fit: cover;
}

.collage img {
    max-height: 228px;
    object-fit: cover;
}


.escalarPoco {
    transition: 0.7s ease;

}

.escalarPoco:hover{
    transform: scale(1.03);
    border-radius: 4px;
}